html {
    box-sizing: border-box;     /*Para que el padding y el border no afecten al tamaño del elemento*/
  }

*, *:before, *:after {        /*Para que el padding y el border no afecten al tamaño del elemento*/
    box-sizing: inherit;
  }

  textarea{
    font-family: Arial, sans-serif; 
    font-size: 14.5px;
  }

h1 {
    text-align: center; 
}
